* {
  margin-top: 0;
  padding: 0;
  box-sizing: border-box;
}

td,
tr {
  border: 1px solid #333;
  position: relative;
}
.detail {
  position: absolute;
  width: 590px;
  height: 140px;

}
.textarea {
  width: 620px;
}
.img {
  width: calc(830px - 590px);
  height: 100px;
  position: relative;
}
p {
  position: absolute;
  top: 0;
  left: 91px;
}
table {
  border-collapse: collapse;
  width: 830px;
  margin: auto;
}
